<%= link_to 'Back', request.referer, class: 'd-block mb-3' %>

<div class="d-flex justify-content-between">
  <div>
    <h1><%= @applicant.full_name %></h1>
    <p class="lead text-muted font-italic">
      <% @applicant.skill_list.each do |skill| %>
        <span class="mr-2">#<%= skill %></span>
      <% end %>
    </p>
  </div>

  <div class="text-center">
    <canvas
      class="d-block"
      id="chart"
      data-controller="charts"
      data-charts-type="radar"
      data-charts-labels="<%= @applicant.score_card&.to_chart_labels %>"
      data-charts-datasets="<%= @applicant.score_card&.to_chart_datasets %>"
      width="400"
      heigh="300"
    ></canvas>
    <%= link_to 'New Review', '#', class: 'btn btn-sm btn-primary', data: { toggle: 'modal', target: '#review-modal' } %>
  </div>
</div>


<%= render Applicants::ApplicationsTableComponent.new(applicant: @applicant) %>

<%= render Applicants::ReviewModalComponent.new(applicant: @applicant, id: 'review-modal') %>
