<%= link_to 'Back', request.referer, class: 'd-block mb-3' %>
<h1><%= @applicant.full_name %></h1>
<p class="lead text-muted font-italic">
  <% @applicant.skill_list.each do |skill| %>
    <span class="mr-2">#<%= skill %></span>
  <% end %>
</p>

<%= render Applicants::ApplicationsTableComponent.new(applicant: @applicant) %>

<%= link_to 'New Review', '#', class: 'btn btn-primary', data: { toggle: 'modal', target: '#review-modal' } %>

<%= render Applicants::ReviewModalComponent.new(applicant: @applicant, id: 'review-modal') %>
