<!DOCTYPE html>
<html>
  <head>
    <title>Recruitr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render NavbarComponent.new %>
    <div class="container">
      <%= @content %>
    </div>
  </body>
</html>
