<div class="modal fade show d-block" aria-hidden="false" style="overflow-y: auto;">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" style="z-index: 1050; ">
    <div class="modal-content mb-5">
      <div class="modal-body p-5">
        <%= component_controller do %>
          <h2>Add Review</h2>
          <p class="text-muted">
            Please review the applicant on the following categories.
          </p>
          <div class="mb-4">
            <p class="lead mb-2">
              Reviewer
            </p>

            <div class="row">
              <div class="col-6">
                <%= reflex_tag('change->update_reviewer', :select, class: 'form-select', value: to_reviewer_attributes_hash(@review.reviewer)) do %>
                  <%= option_groups_from_collection_for_select(Review.reviewer_options, :all, :to_s, lambda(&method(:to_reviewer_attributes_hash)), :full_name, to_reviewer_attributes_hash(@review.reviewer)) %>
                <% end %>
                <p class="small text-muted font-italic">
                  Is this review yours or someone else's?
                </p>
              </div>
            </div>
          </div>

          <% ScoreCard::REVIEW_ATTRIBUTES.each do |attribute| %>
            <div class="mb-4">
              <p class="lead mb-2">
                <%= attribute.to_s.humanize %>
              </p>

              <div class="star-rating-input">
                <%= raw stars_for(attribute) %>
              </div>
            </div>
          <% end %>

          <%= reflex_tag 'click->create_review', :button, 'Submit Review', class: 'btn btn-lg btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= reflex_tag 'click->close', :div, '', class: 'modal-backdrop', style: 'opacity: 0.7;' %>
</div>
